<div style="background-image: url('/assets/stock-photo-supermarket-aisle-with-empty-red-shopping-cart-541052647.v4.jpg')">
  <div class="user">
      <a class="active" href="/nav-bar"><strong>Shopping Cart</strong></a>
      <a class ="order" href="/order">Your Order</a>
      <a  class="item" href="/additem">Add Items</a>
    </div>
<form class="login" (submit)='loginUser($event)'>

   <h1><strong>Login</strong></h1>
   <br>

  <input type="text" id="username"placeholder="Username" required>
  
  
  <br>
  <br>
  <input type="password" id="password" placeholder="Password" required>
  
  <br>
  <br>
  <br>
  <button  onclick = "onSubmit();" class="submit">Login</button>
</form>
</div>